{erl_opts, [
   debug_info
]}.

{deps, [
    procket
]}.

{xref_checks, []}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

{plugins, [{pc, "1.10.0"}]}.

{port_specs, [{"priv/gen_netlink_errors.so", ["c_src/*.c"]}]}.

{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{profiles, [
    {test,  [
        {plugins, [
            {covertool, "2.0.0"}
        ]}
    ]}
]}.
